.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border-right: 1px solid lightgray;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

.sidebar__headerName {
  margin-left: -100px;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important    ;
}

.sidebar__search {
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 35px;
  width: 100%;
}

.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar__chats {
  flex: 1;
  overflow: scroll;
  background-color: white;
}

@media (max-width: 900px) {
  .sidebar__headerName {
    display: none;
  }
}
